.chat-user-list {
      list-style: none;
      margin-top: 20px;
      padding: 0;
      height: 480px;

}

.chat-user-list li{
    position: relative;
    margin: 2px;
    padding: 10px;
    background-color: #FFEFDB;
}

.chat-user-list li:hover {
    background-color: #ccc;
}

.chat-user-list li.active {
    background-color: #E0EEFF;
}

.content-wrapper{
    background-color: #ffffff;
}
.kefu-edit{
    padding-left: 20px;
    padding-top: 20px;
    background-color: #ffffff;
}
.breadcrumb{
    background-color: #ffffff;
    font-size: 10px;
    padding: 0 ;
}
.kefu-form{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 12px;
    border-top: 1px solid #ccc;
}
.form-control{
    font-size: 12px;
}