.chat-user-list {
      list-style: none;
      margin-top: 20px;
      padding: 0;
      height: 480px;

}

.chat-user-list li{
    position: relative;
    margin: 2px;
    padding: 10px;
    background-color: #FFEFDB;
}

.chat-user-list li:hover {
    background-color: #ccc;
}

.chat-user-list li.active {
    background-color: #E0EEFF;
}
