{% extends 'kf.html' %}
{% block content %}
    <div style="padding: 1px;">
        <div class="row">
            <label>

                <select name="role" class="form-control input-sm" aria-controls="example1">
                    <option value="all">所有角色</option>
                    <option value="manager">管理员</option>
                </select>
            </label>
            <div class="pull-right">
                <div id="kefu-search" style="margin-right: 10px" class="pull-left">
                        <input type="search" class="form-control input-sm" style="margin-right: 10px" placeholder="输入客服姓名/昵称/帐号/手机号" maxlength="100">

                </div>
                <div class="pull-right">
                <a type="button" href='{{ url_for('kfAdd') }}' class="btn btn-primary btn-sm">新增客服
                </a>
                </div>
            </div>
        </div>
        <div class="row">
            <table id="generatedTable" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>昵称</th>
                            <th>姓名</th>
                            <th>账号</th>
                            <th>手机号</th>
                            <th>角色</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="dataShow">

                     </tbody>
            </table>
        </div>
        <div class="row">
            <nav class="text-right" aria-label="Page navigation">

                <ul class="pagination">
                    <li id="page-info" class="page-info">共<em>1</em>页</li>
                    <li>
                      <a onclick="m_prePage()" aria-label="Previous">
                        <i class="fa fa-angle-left"></i>
                      </a>
                    </li>
                    <li class="active"><a id="page_num" href="#">1</a></li>
                    <li>
                      <a onclick="m_nextPage()" aria-label="Next">
                        <i class="fa fa-angle-right"></i>
                      </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

{% endblock %}
{% block kefu_js %}
{#    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>#}
    <script type="text/javascript">

    function toPage(page) {
        var url = '../static/data/test'+page+'.json'
        $.ajax({
                type: "GET",
                url: url,
                dataType: 'json',
                cache: false,
                //       data:"datas="+datas;//要发送的数据
                success: createTable
            });
    }

    toPage(1);

    function createTable(objects) {

        var pages = objects['pages'];
        $('#page-info').html('共<em>' + pages + '</em>页');
        $("#dataShow").empty();
        var _html = ""

        if(objects['items'].length === 0){
            _html = "<td>暂无相关数据</td>"
        }else{

            $.each(objects['items'], function (index, item) {
                _html +=  "<tr> \
                              <td>"+item.nickname+"</td>\
                              <td>"+item.name+"</td>    \
                              <td>"+item.username+"</td>\
                              <td>"+item.phone+"</td>   \
                              <td>"+item.role+"</td>    \
                              <td class='table-tool'><a href='{{ url_for('kfAdd') }}'>\
                              <i class='fa fa-edit'></i></a><a onclick='remove()'><i class='fa fa-trash'></i></a></td>\
                           </tr>";
            });
        }
          $("#dataShow").append(_html)
    }

    function remove() {
         Confirm({
            msg: "您确定要删除吗？",
            onOk: function(){
                 alert('确定删除')
            },
            onCancel: function(){
                 $.Deferred().reject();
            }
         });
    }



    function m_nextPage(){
        var allPage = $('#page-info em').text();
        var page_num = parseInt($('#page_num').text())+1;
        if(page_num > allPage ){
            return;
        }
        $('#page_num').text(page_num)
        toPage(page_num)

    }

    function m_prePage(){
        var page_num = parseInt($('#page_num').text()) -1;
        if (page_num < 1){
            return ;
        }
        $('#page_num').text(page_num)
        toPage(page_num)
    }

    $('li').removeClass('active');
    $('#all').addClass('active');

    </script>

{% endblock %}