{% extends 'kf.html' %}
{% block content %}
<div style="padding: 1px;">
    <div class="row">
        <div class="pull-right">
            <button  class="btn btn-primary btn-sm" id="addGroupBtn">新增分组</button>
        </div>
    </div>

    <div class="divider"></div>

    <div class="row" style="margin: 50px 20px;font-size: 12pt">

        <div class="col-md-4">
            <div class="group border" style="height:150px;width: 90%">
                <div class="group-head clearfix " style="padding: 3px 5px;background: #EAEAEA">
                    <div class="showing" >
                        <span class="group-name"><strong>组一</strong><em>(0人)</em></span>
                        <div class="group-tool pull-right " >
                            <i class="fa fa-edit "></i>
                            <i class="fa fa-trash"></i>
                        </div>
                    </div>
                    <div class="editing" style="display: none;">
                        <input class="group-name-input  form-control pull-left" style="width: 80%">
                        <div class="group-check-tool pull-right " >
                            <i class="fa fa-check-circle green" ></i>
                            <i class="fa fa-times-circle red" ></i>
                        </div>
                    </div>
                </div>

                <div class="group-center">
                    <div class="add-group-member-btn" style="text-align: center;padding: 50px 0 ;">
                         <a class="btn gray"><i class="fa fa-plus"></i>添加组员</a>
                    </div>
                    <div class="group-member" style="display: none">
                        <div class="group-member-text" style="text-align: left;">
                             <span>无</span>
                        </div>
                        <div class="edit-group-member-btn" style="text-align: right">
                            <button class="btn btn-default" >编辑组员</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

         <div class="col-md-4">
            <div class="group border" style="height:150px;width: 90%">
                <div class="group-head clearfix " style="padding: 3px 5px;background: #EAEAEA">
                    <div class="showing" >
                        <span class="group-name"><strong>组二</strong><em>(1人)</em></span>
                        <div class="group-tool pull-right " >
                            <i class="fa fa-edit "></i>
                            <i class="fa fa-trash"></i>
                        </div>
                    </div>
                    <div class="editing" style="display: none;">
                        <input class="group-name-input  form-control pull-left" style="width: 80%">
                        <div class="group-check-tool pull-right " >
                            <i class="fa fa-check-circle green" ></i>
                            <i class="fa fa-times-circle red" ></i>
                        </div>
                    </div>
                </div>

                <div class="group-center">
                    <div class="add-group-member-btn" style="text-align: center;padding: 50px 0;display: none">
                          <a class="btn gray"><i class="fa fa-plus"></i>添加组员</a>
                    </div>
                    <div class="group-member">
                        <div class="group-member-text" style="text-align: left;padding: 10px">
                            <span>客服一</span>
                        </div>
                        <div class="edit-group-member-btn" style="text-align: right;padding: 30px 10px 0 0;">
                            <button class="btn btn-default" >编辑组员</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- 客服分组 增加/修改 （Modal） -->
    <div class="modal fade" id="addKefuGroupModal" tabindex="-1" role="dialog" aria-labelledby="kefuGroupModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="kefuGroupModalLabel">
                        新增分组
                    </h4>
                </div>
                <div class="modal-body">
                        <span>组名</span>
                        <input type="text" class="form-control" id="kefuGroupText">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 客服分组 增加/修改 （Modal） END -->

    <!-- 客服人员 增加/修改 （Modal） -->
    <div class="modal fade" id="addGroupMemberModal" tabindex="-1" role="dialog" aria-labelledby="groupMemberModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="groupMemberModalLabel">
                        添加组员
                    </h4>
                </div>
                <div class="modal-body" style="font-size: 12pt;">

                    <div class="row" >

                        <div class="col-md-7">
                            <div  class="pull-left" style="width: 90%">
                                <input class="form-control" placeholder="搜索用户">
                                <div class="border" style="height: 150px;overflow-y: auto">
                                    <ul>
                                        <li>客服一</li>
                                        <li>客服二</li>
                                    </ul>
                                </div>
                            </div>
                            <div  class="pull-right" style="padding: 60px 0 0 10px;" >
                                 <a><i class="fa fa-chevron-right"></i></a>
                             </div>
                        </div>

                        <div class="col-md-5">
                            <span class="form-control" >已分配成员：<em>0</em></span>
                            <div class="border" style="height: 150px;overflow-y: auto">
                                <ul style="display: none">
                                    <li>客服一</li>
                                    <li>客服二</li>
                                </ul>
                                <div style="padding: 40px;text-align: center">
                                    <span>暂无成员</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 客服人员 增加/修改 （Modal） END -->

</div>
<script src="{{ url_for('static',filename='js/jquery-2.1.1.min.js') }}"></script>

{% endblock %}
{% block kefu_js %}

    <script type="text/javascript">
        $('li').removeClass('active');
        $('#group').addClass('active')

        //添加分组成员 按钮 点击事件
        $('.add-group-member-btn').on('click',function () {
            $('#addGroupMemberModal').modal()
        });

        //编辑分组成员 按钮 点击事件
        $('.edit-group-member-btn').on('click',function () {
            $('#addGroupMemberModal').modal()
        });

        //新增分组 按钮 点击事件
        $('#addGroupBtn').on('click',function () {
            $('#kefuGroupText').val('')
            $('#addKefuGroupModal').modal()
        });

        //  组编辑 按钮 点击事件
        $('.group-tool .fa-edit').on('click',function () {

           var $showing = $(this).parent('div').parent('div');
           var $editing = $showing.next('div');

           var oldName = $(this).parent('div').prev('span').children('strong').text();
           $editing.children('input').val(oldName);
           $editing.children('input').focus(true);

           $showing.hide();
           $editing.show();

        });

         //  组删除 按钮 点击事件
        $('.group-tool .fa-trash').on('click',function () {
            Confirm({
                msg: '您确定要删除这个组吗？',
                onOk: function(){
                    alert('确定删除')
                },
                onCancel: function(){
                    $.Deferred().reject();
                }
             });
        });

         // 组编辑确定 按钮 点击事件
         $('.group-check-tool .fa-check-circle').on('click',function () {
            var $editing = $(this).parent('div').parent('div');
            var $showing = $editing.prev('div');

            var newName = $(this).parent('div').prev('input').val();
            $showing.children('span').children('strong').text(newName);

            $editing.hide();
            $showing.show();
        });

         // 组编辑取消 按钮 点击事件
         $('.group-check-tool .fa-times-circle').on('click',function () {
            var $editing = $(this).parent('div').parent('div');
            var $showing = $editing.prev('div');

            $editing.hide();
            $showing.show();
        });


    </script>
{% endblock kefu_js%}