    {% extends 'layout.html' %}

    {% block page_content %}
    <style>
    .row{
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 10px;
    }
    .table>thead>tr>th{
        font-weight: 700;
        font-size: 12px;
        color: #222;
        border-bottom-color: #ccc;
        border-bottom-width: 1px;
    }
    .page-info{
        color: #a3afb7;
        position: relative;
        vertical-align: middle;
        text-align:center;
        font-size: 12px;
    {#        margin-right: 26px; #}
        float: left;
        padding: 6px 12px;
    }
    .y-icon{
        margin-left: 10px;
        margin-right: 10px;

    }

    </style>
    <main class="nav-tabs-custom" id="boss-module">
    <ul class="nav nav-tabs">

                <li id="all" class="active"><a href="{{ url_for('kfAll') }}"><span>所有人</span></a></li>
                <li id="group" ><a href="{{ url_for('kfGroup') }}"><span data-log="ad-kf-gt">分组</span></a></li>
                <li id="roleSet"><a href="#"><span>角色设置</span></a></li>
    </ul>


    {% block content %}
    {% endblock %}
    </main>
    {% endblock %}
    {% block layout_js %}
        {% block kefu_js %}
        {% endblock kefu_js %}
    {% endblock layout_js %}