<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>亿凡星客服管理系统</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static',filename='img/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='Ionicons/css/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-treeview/dist/bootstrap-treeview.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='adminLTE/css/AdminLTE.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='adminLTE/css/skins/_all-skins.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/talk.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/demo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    {% block css %}{% endblock %}
    <!-- ./wrapper -->

</head>
<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

  <header class="main-header">

    <!-- Logo -->
    <span href="#" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img src="{{ url_for('static',filename='img/favicon.ico') }}"></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>亿凡星</b>客服管理</span>
    </span>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
          </li>

          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="{{ url_for('static',filename='adminLTE/img/user2-160x160.jpg') }}" class="user-image" alt="User Image">
              <span class="hidden-xs">客服一</span>
            </a>
          </li>
          <!-- Control Sidebar Toggle Button -->

        </ul>
      </div>

    </nav>
  </header>
{#    以下是菜单栏   #}
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">菜单</li>

        <li class="active">
          <a href="{{ url_for('toTalk') }}">
            <i class="fa fa-comments"></i> <span>当前会话</span>
          </a>
        </li>
        <li>
          <a href="{{ url_for('toKf') }}">
            <i class="fa fa-users"></i> <span>客服管理</span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-user-circle"></i> <span>个人信息管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{ url_for('toUser') }}"><i class="fa fa-circle-o"></i>修改个人信息</a></li>
            <li><a href="{{ url_for('toPassword') }}"><i class="fa fa-circle-o"></i>修改密码</a></li>
          </ul>
        </li>

      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

{#   以下是主页内容  #}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" >
    <!-- Main content -->

    {% block page_content %}

    {% endblock %}

  </div>
  <!-- /.content-wrapper -->
</div>


<!-- jQuery 3 -->
<script src="{{ url_for('static',filename='js/jquery-2.1.1.min.js') }}"></script>

<!-- Bootstrap 3.3.7 -->
<script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/dialog.js') }}"></script>
<!-- FastClick -->
{#<script src="bower_components/fastclick/lib/fastclick.js"></script>#}

<script src="{{ url_for('static',filename='bootstrap-treeview/dist/bootstrap-treeview.min.js') }}"></script>

<!-- AdminLTE App -->
<script src="{{ url_for('static',filename='adminLTE/js/adminlte.min.js') }}"></script>

{#<script src="{{ url_for('static',filename='adminLTE/js/pages/dashboard2.js') }}"></script>#}
<!-- AdminLTE for demo purposes -->
<script src="{{ url_for('static',filename='adminLTE/js/demo.js') }}"></script>

    {% block layout_js %}
    {% endblock layout_js %}


{#<script src="{{ url_for('static',filename='adminLTE/js/demo.js') }}"></script>#}



</body>
</html>
