{% extends 'layout.html' %}

{% block page_content %}
    <div class="page-content" style="padding: 40px">

        <div class="page-header">
            <h3>修改密码</h3>
        </div>

        <div class="divider"></div>
        <div class="clearfix">

            <div class="row"  style="padding: 5px 0">
                <div class="col-md-1">原密码</div>
                <div class="col-md-3">
                    <input type="text"  class="form-control" value=""/>
                </div>
            </div>
            <div class="row"  style="padding: 5px 0">
                <div class="col-md-1">新密码</div>
                <div class="col-md-3">
                    <input type="password"  class="form-control" value=""/>
                </div>
            </div>
             <div class="row"  style="padding: 5px 0">
                <div class="col-md-1">确认密码</div>
                <div class="col-md-3">
                    <input type="password"  class="form-control" value=""/>
                </div>
            </div>

             <div class="row" style="padding: 10px 0">
                <div class="col-md-1">
                </div>
                <div class="col-md-1">
                    <button class=" btn btn-primary">保存</button>
                </div>

            </div>
        </div>
{% endblock %}