{% extends 'layout.html' %}

{% block page_content %}
<div class="talkContent">
    <div class="row" style="border: 1px solid #ccc;height: 25%;">
        <div >

        </div>
    </div>
    <div class="row" style="height: 75%;">
        <div class="talk-left" style="float:left;width: 20%;height:100%;border: 1px solid #ccc">
            <ul id="leftTab" class="nav nav-tabs">
                <li class="active"><a href="#talkList" data-toggle="tab">对话列表</a></li>
                <li><a href="#kfList" data-toggle="tab">客服</a></li>
            </ul>
            <div id="leftTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="talkList">
                    <ul class="chat-user-list">

                        <li class="active">
                            <a href="#">
                              <span>暂无任何用户</span>
                             </a>
                        </li>

                    </ul>
                </div>
                <div class="tab-pane fade" id="kfList">
                    <p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple
                        TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。</p>
                </div>
            </div>
        </div>



        <div class="talk-content" style="float:left;width: 50%;height:100%;border: 1px solid #ccc">

                    <div  style="height: 6%;">聊天中...</div>
                    <div  style="height: 94%;">
                        <div class="showContent" style="height: 75%;overflow-y:auto;border: 1px solid #ccc">

                        </div>
                        <div class="tools" style="height: 5%;border: 1px solid #ccc">
                        </div>
                        <div class="writeContent" style="height: 20%;border: 1px solid #ccc">
                            <textarea  rows="5" id="inputContent" style="width: 100%;resize: none;border-style: none">
                            </textarea>
                        </div>
                    </div>

        </div>

        <div class="talk-right" style="float:left;width: 29%;height:100%;border: 1px solid #ccc">
             <ul id="rightTab" class="nav nav-tabs">
                <li class="active"><a href="#common" data-toggle="tab">常用信息</a></li>
                <li><a href="#record" data-toggle="tab">聊天记录</a></li>
            </ul>
            <div id="rightTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="common">
                    <p>常用信息</p>
                </div>
                <div class="tab-pane fade" id="record">
                    <p>聊天记录</p>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="{{ url_for('static',filename='js/jquery-1.8.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/talk.js') }}"></script>

<script>
     bodyHeight = $(document.body).height()
   $('.talkContent').css('height',bodyHeight-50)

    $('#leftTab a').click(function (e) {
     e.preventDefault()
      $(this).tab('show')
    });
    $('#rightTab a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    });
    //  startGetReplyTask('{{ kf.id }}')

</script>

{% endblock %}