{% extends "layout.html" %}

{% block page_content %}

<div class="box">
                              <nav class="navbar navbar-default" role="navigation" style="padding-top: 200px">
                                <div class="container-fluid">
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="#">菜鸟教程</a>
                                </div>
                                <div>
                                    <ul class="nav navbar-nav">
                                        <li class="active"><a href="#">iOS</a></li>
                                        <li><a href="#">SVN</a></li>
                                        <li class="dropup">
                                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                                                    <i class="fa fa-plus"></i>添加<b class="caret"></b>
                                                </button>
                                                <ul class="dropdown-menu">
                                                     <li><a href="##">常用语组</a></li>
                                                     <li><a href="##">常用语</a></li>
                                                </ul>
                                        </li>
                                    </ul>
                                </div>
                                </div>
                            </nav>
</div>


<script>

</script>
{% endblock %}